<section class="col-12 px-5">
    <form class="card">
        <h3 class="card-header">Create New Post</h3>
        <div class="card-body">
            <div class="form-group">
                <label for="newpost-title">Title</label>
                <input type="text" class="form-control" id="newpost-title" />
            </div>
            <div class="form-group">
                <label for="newpost-dis">Content</label>
                <input type="text" class="form-control" id="newpost-dis" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</section>