<section class="col-12 px-5">
    <form class="card login-form">
        <h3 class="card-header">Login</h3>
        <div class="card-body">
            <div class="form-group">
                <label for="login-name">Username</label>
                <input type="text" class="form-control" id="login-name" />
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" class="form-control" id="login-password" />
            </div>
            <div class="d-flex flex-column">
                <a class="pb-2" href="/signup">Sign Up</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary col-1">Login</button>
            </div>
        </div>
    </form>
</section>
<script src="login.js"></script>