<section class="col-12 px-5">
    <form class="card signup-form">
        <h3 class="card-header">Sign Up</h3>
        <div class="card-body">
            <div class="form-group">
                <label for="signup-name">Username</label>
                <input type="text" class="form-control" id="signup-name" />
            </div>
            <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" class="form-control" id="signup-password" />
            </div>
            <div class="d-flex flex-column">
                <a class="pb-2" href="/login">Login</a>
                <button type="submit" class="btn btn-primary col-1">Sign Up</button>
            </div>
        </div>
    </form>
</section>
<script src="signup.js"></script>